<section>
  <div class="wrap">
    <h2>404 Not Found Error</h2>

    <p class="p_item">
      お探しのページは存在しないか削除されました。
      URLをご確認ください。
    </p>

    <%= link_to "トップに戻る", root_path, class:"button_area_blue action_button_side" %>
  </div>
</section>
