<section>
  <div class="wrap">
    <h2>500 Internal Server Error</h2>

    <p class="p_item">
      エラーが発生しており、このページは現在利用になれません。
    </p>

    <%= link_to "トップに戻る", root_path, class:"button_area_blue action_button_side" %>
  </div>
</section>
