<section class="bg_purple">
  <div class="wrap">
    <h2>Katharsis Digital Hubへようこそ</h2>
    <p class="p_item">語りバー「Katharsis」や連盟店舗に集う人々や企業をデジタルで繋げるシステムです。</p>
    <p>メール認証のほかに、GoogleやTwitter、Facebookアカウントを認証することによってもアカウントを作成頂くことが可能です。</p> 
  </div>
</section>

<section class="bg_cyber_japan_network">
  <div class="wrap">
    <div class="img_center">
        <%= image_tag 'KDH_logo.png', class:"libig_img" %>        
    </div>
  </div>
</section>