<section>
  <div class="wrap">
    <h2>デジタルコンテンツ</h2>

    <% @book_list.each do |book|%>
      <% if book.required_point <= current_user.point %>
        <%= link_to book_path(book.id) do %>
          <%= book.name %><br>
          <% Dir.glob(Rails.root.join('public/uploads/books/'+ book.id.to_s + '/') + '1.jpg') do |file| %>
              <%= image_tag file.split('app/public')[1] %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
   
  </div>
</section>
