<section>
  <div class="wrap">
    <h2>プライバシーポリシー</h2>

    <div class="p_item">
      <p>当団体は、個人情報が重要な財産（法益）であると認識しております。また、これを適切に管理し保護することが、団体としての社会的責任であると考えております。お取引先様、当社役員・従業員等の個人情報の取り扱いにつき基本方針を定めました。当団体は、本方針を遵守し、個人情報の保護に努めることを宣言いたします。</p>
    </div>

    <div class="p_item">
      <h3>1. 個人情報保護に関する法令およびその他の規範の遵守</h3>
      <p>当団体は、個人情報の保護に関係する日本の法令その他の規範、ガイドラインを遵守いたします。</p>
    </div>

    <div class="p_item">
      <h3> 2. 個人情報の定義</h3>
      <p>
        本方針に掲げる「個人情報」とは、生存する個人に関する以下の情報をいいます。
      </p>
      <p>
        (1)当該情報に含まれる氏名、生年月日、その他の記述等により特定の個人を識別できるもの
      </p>
      <p>
        (2)他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるもの
      </p>
    </div>

    <div class="p_item">
      <h3>3. 個人情報の入手</h3>
      <p>
        当団体は、個人情報を適法かつ公正な手段により取得いたします。また、入手の際にはあらかじめその目的と利用範囲をお知らせいたします。
      </p>
    </div>

    <div class="p_item">
      <h3>4. 個人情報の利用</h3>
      <p>
        当社は、ご提供頂いた個人情報の利用につき、あらかじめお知らせまたは公表した利用目的の範囲を守ります。
      </p>
    </div>

    <div class="p_item">
      <h3>5. 個人情報の提供</h3>
      <p>
        (1)当団体は、利用目的の範囲内で、個人情報を取り扱う業務を委託することがあります。その際は委託先の管理能力を十分検討し、個人情報に関する取り決めを行い、監督し、個人情報の安全管理を徹底いたします。
      </p>
      <p>
        (2)当団体は、個人情報をご本人の同意なしに業務委託先以外の第三者に開示・提供することはありません。ただし、法令により、または裁判所、警察等の公的機関から開示を求められた場合には、ご本人の同意なく個人情報を開示・提供することがあります。
      </p>
    </div>

    <div class="p_item">
      <h3>6. 個人情報のお問い合せの対応</h3>
      <p>
        当団体が管理している個人情報に関して、ご本人から開示・訂正・利用停止あるいは消去等のお申し出があったときは、以下の場合を除き、ご本人であることを確認したうえで、必要な対応をいたします。
      </p>
      <p>
        (1)ご本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合
      </p>
      <p>
        (2)当団体の業務の適正な実施に著しい支障を及ぼすおそれがある場合
      </p>
      <p> 
        (3)他の法令に違反することとなる場合
      </p>
    </div>
    
  </div>
</section>
