<section>
  <div class="wrap">
    <h2>利用規約</h2>

    <p class="p_item">
      本サービスではユーザのプロフィール情報や来店履歴などを収集します。本サービスで収集されたデータはサービス関係者らがサービス改善や研究のために活用・公表される場合があります。なお、データが公表される際は個人の特定を防いだ上で実施されます。
    </p>
    <p class="p_item">
      メールアドレスなどの個人情報以外のプロフィールに登録された情報は登録された名前を含み、他ユーザが閲覧することがあります。ご了承ください。
    </p>
    <p class="p_item">
      本サービスでチェックインした店舗がK-Displayを導入している場合、登録されているプロフィール情報の一部が店内ディスプレイにて公開されますのでご注意ください。
    </p>
    <p class="p_item">
      本サービス関係者は、サービス利用にあたってふさわしくない行為を行ったユーザに対して、サービス利用の停止を実施したり、弁償を求めたりする場合があります。また、本サービスの利用によってユーザがいかなる損害を被った場合でもサービス関係者は責任を負いません。
    </p>
    <p class="p_item">
      本サービスを利用するにあたって、本規約に同意したものとします。
    </p>
    <p class="p_item">
      本利用規約は不定期的に更新される場合があります。更新された場合も、サービス利用をもって規約に同意したものと見做します。今後の継続的な利用にあたりましては、都度利用規約のご確認をお願いします。
    </p>
  </div>
</section>
