/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "游ゴシック", "游ゴシック体", 'YuGothic', "Yu Gothic", "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", 'Meiryo', "メイリオ", "MS PGothic", sans-serif;
    background-color: #181818;
    color: #fff;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

input,textarea, select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    max-width: 100%;
}

input, textarea, select {
    padding: 4px 8px;
    font-size: 14px;
    line-height: 20px;
    border: none;
    border-radius: 8px;
    margin-top: 4px;
}

input[type="file"] {
    padding: 0;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    border: 1px solid #1fdaff;
    background: none;
    color: #fff;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #181818 inset;
    -webkit-text-fill-color: #fff; !important;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
}

select {
    border: 1px solid #1fdaff;
    background: none;
    color: #fff;
}

textarea {
    width: 100%;
    height: 48px;
    resize: none;
    border: 1px solid #1fdaff;
    background: none;
    color: #fff;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label{
    display: inline-block;
    border: 1px solid #555555;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 8px;
    margin-right: 4px;
    margin-bottom: 8px;
}

input[type="checkbox"]:checked+label{
    border: 1px solid #8370ff;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.wrap {
    max-width: 720px;
    margin: 0 auto;
    padding: 32px 16px;
    overflow: hidden;
    zoom: 1;
}

.headerwrap {
    max-width: 720px;
    margin: 0 auto;
    padding: 16px;
    overflow: hidden;
    zoom: 1;
}

#header {
    /*background-color: #8a2be2;*/
    background-color: #212121;
    border-bottom: 1px solid #1fdaff;
    /*border-bottom: 1px solid #1aff1a;*/
    color: #fff;
    width: 100%;
    position:fixed;
    top: 0px;
}

#header-bk { 
    height: 64px;
    width:100%;
}

#header a {
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
}

#header img {
    height: 32px;
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
}

#footer {
    border-top: 1px solid #1fdaff;
}

.wrap .img_center {
    max-width: 100%;
    text-align: center;
}

.wrap img {
    width: 100%;
}

div.field {
    margin-bottom: 24px;
}

.wrap h2 {
    margin-bottom: 16px;
}

.p_item {
    margin-bottom: 16px;
}

img.qrcode {
    border: 2px solid #1fdaff;
    border-radius: 8px;
    max-width: 400px;
}

.qrcode_text {
    margin-bottom: 8px;
    color: #1fdaff;
    font-weight: bold;
    font-size: 18px;
}

li{
    margin-left: 32px;
    margin-top: 8px;
}

.alert_area {
    border: 1px solid #8370ff;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.alert_area_blue {
    border: 1px solid #1fdaff;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.button_area {
    display: inline-block;
    border: 1px solid #8370ff;
    padding: 8px 16px;
    border-radius: 8px;
    background: none;
    color: #ffffff;
}

.button_area_blue {
    display: inline-block;
    border: 1px solid #1fdaff;
    padding: 8px 16px;
    border-radius: 8px;
    background: none;
    color: #ffffff;
}

._links {
    margin-top: 32px;
}

.button_desc_text {
    margin-bottom: 8px;
}

.button_side {
    margin-right: 8px;
}

.center_buttons {
    text-align: center;
}

.smltopmargin {
    display: inline-block;
    margin-top: 16px;
}

div.smltopmargin {
    display: block;
    margin-top: 16px;
}

div.smlbottommargin {
    margin-bottom: 0px;
}

#error_explanation {
    margin-bottom: 32px;
    border: 1px solid #ffd700;
    padding: 8px 16px;
    border-radius: 8px;
    background: none;
    color: #ffffff;
}

#error_explanation h2 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 4px;
}

.prof_info {
    margin-top: 16px;
}

.purple_text {
    color: #8370ff !important;
}

.blue_text {
    color: #1fdaff !important;
}

.purple_underline {
    text-decoration:underline;
    text-decoration-color: #8370ff;
}

.blue_underline {
    text-decoration:underline;
    text-decoration-color: #1fdaff;
}

.label_supplement {
    margin-left: 8px;
}