/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "游ゴシック", "游ゴシック体", 'YuGothic', "Yu Gothic", "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", 'Meiryo', "メイリオ", "MS PGothic", sans-serif;
    background-color: #181818;
    color: #fff;
}

.wrap {
    max-width: 720px;
    margin: 0 auto;
    padding: 32px 16px;
    overflow: hidden;
    zoom: 1;
}

.headerwrap {
    max-width: 720px;
    margin: 0 auto;
    padding: 16px;
    overflow: hidden;
    zoom: 1;
}

#header {
    /*background-color: #8a2be2;*/
    background-color: #212121;
    border-bottom: 1px solid #1fdaff;
    /*border-bottom: 1px solid #1aff1a;*/
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

#header a {
    color: #fff;
}

.wrap .img_center {
    max-width: 100%;
    text-align: center;
}

.wrap img {
    width: 100%;
}

div.field {
    margin-bottom: 16px;
}

.wrap h2 {
    margin-bottom: 16px;
}

.p_item {
    margin-bottom: 16px;
}

img.qrcode {
    border: 2px dashed #1fdaff;
    border-radius: 8px;
    max-width: 400px;
}

.qrcode_text {
    margin-bottom: 8px;
    color: #1fdaff;
    font-weight: bold;
    font-size: 18px;
}

.taglist li{
    margin-left: 32px;
}