@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


body {
  width: 100%;
  font-family: "Century Gothic", "Futura", "Noto Sans Japanese", "ヒラギノ角ゴ Pro W5", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #333;
  overflow: hidden;
}

h1, h2 {
  font-weight: normal;
}

p {
  font-size: 16px;
  line-height: 28px;
}

img {
  max-width: 100%;
}

.wrap {
  max-width: 2040px;
  margin: 0 auto;
  padding: 56px;
  overflow: hidden;
  zoom: 1;
}

.wrap h1 {
  font-size: 120px;
  line-height: 130px;
  margin-bottom: 16px;
}

.under {
  padding-bottom: 0;
  border-bottom: 4px solid #fff;
  margin-bottom: 24px;
}

.wrap h2 {
  font-size: 48px;
  margin-bottom: 8px;
}

.wrap p {
  margin-bottom: 16px;
}

.wrap p:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 650px) {
  .wrap h1 {
    font-size: 26px;
  }

  .wrap h2 {
    font-size: 22px;
  }
}

.bg_white {
  background: #ecf0f1;
  color: #000;
}

.bg_white .under {
  border-bottom: 4px solid #000;
}

.bg_dot {
  background: url(../img/dot_bg.png) left top repeat;
  background-size: 19px 57px;
  color: #000;
}

.bg_midnightblue {
  background: #2c3e50;
  color: #fff;
}

.bg_red {
  background: #ff6670;
  color: #fff;
}

.bg_green {
  background: #1abc9c;
  color: #fff;
}

.bg_gray {
  background: #f6f7f8;
  color: #000;
}

.bg_blue {
  background: #1e90ff;
  color: #fff;
}

.bg_yellow {
  background: #ffdb00;
  color: #000;
}

.bg_black {
  background-color: #000;
  color: #fff;
}

.displayprof {
  height: 100vh;
  overflow: hidden;
}

.prof_ad .displayprof {
  background-size: 100%;
  background-repeat: no-repeat;
}

.prof_ad .sponsor {
  display: inline-block;
  font-weight: bold;
  color: #181818;
  background-color: rgba(255,255,255,0.6);
  padding: 8px 16px;
  text-align: left;
}

h1.sponsor {
  font-size: 28px;
  margin-bottom: 2%;
}

.sponsor_info_area {
  width: 27.5%;
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  text-align: right;
}

.prof_ad .ad_qrcode {
  display: inline;
  width: 60%;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
}

.bg_purple {
  background-color: #8a2be2;
  color: #fff;
}

.bg_yellow {
  background-color: #e3c800;
  color: #fff;
}

.bg_orange {
  background-color: #ed6f2f;
  color: #fff;
}

.bg_magenta {
  background-color: #e4007f;
  color: #fff;
}

.bg_turquoise {
  background-color: #009b9f;
  color: #fff;
}

.prof_body {
  float: left;
  width: 56%;
}

.post_profimg {
  float: left;
  width: 40%;
  margin-right: 4%;
  overflow: hidden;
  zoom: 1;
  position: relative;
}

.post_profimg img {
  border-radius: 50%;
}

.post_profimg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
  border-radius: 50%;
  max-width: 400px;
  max-height: 400px;
}

.mainimgframe {
  position: relative;
}

.mainimgframe:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.prof_msg {
  margin-top: 32px;
}

.prof_msg p {
  font-size: 64px;
  line-height: 80px;
}

.cursor_none {
  cursor: none;
}

//複数行省略設定(ChromeやSafari、Firefox(macは確認)などのみで動作)
.multiline-text-container {
  overflow: hidden;
}

.multiline-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.multiline-text-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
