@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


// ================================================================================
//   Base
// ================================================================================

body {
  font-family: 'Century Gothic', 'Futura', 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W5', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, sans-serif;
  font-size: 16px;
  font-weight: normal;

  overflow: hidden;

  width: 100%;

  cursor: none;

  color: #333;
}


// ================================================================================
//   Slide
// ================================================================================

.wrap {
  overflow: hidden;
  zoom: 1;

  max-width: 2040px;
  margin: 0 auto;
  padding: 56px;

  h1, h2 {
    font-weight: normal;
  }

  h1 {
    font-size: 120px;
    line-height: 130px;

    margin-bottom: 16px;
  }

  h2 {
    font-size: 48px;

    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
    line-height: 28px;

    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .wrap {
    h1 {
      font-size: 26px;
    }

    h2 {
      font-size: 22px;
    }
  }
}


.displayprof {
  overflow: hidden;

  height: 100vh;
}


// ========================================
//   Background
// ========================================

.bg_white {
  color: #000;
  background: #ecf0f1;

  .under {
    border-bottom: 4px solid #000;
  }
}

.bg_dot {
  color: #000;
  background: url(../img/dot_bg.png) left top repeat;
  background-size: 19px 57px;
}

.bg_midnightblue {
  color: #fff;
  background: #2c3e50;
}

.bg_red {
  color: #fff;
  background: #ff6670;
}

.bg_green {
  color: #fff;
  background: #1abc9c;
}

.bg_gray {
  color: #000;
  background: #f6f7f8;
}

.bg_blue {
  color: #fff;
  background: #1e90ff;
}

.bg_yellow {
  color: #000;
  background: #ffdb00;
}

.bg_black {
  color: #fff;
  background-color: #000;
}

.bg_purple {
  color: #fff;
  background-color: #8a2be2;
}

.bg_yellow {
  color: #fff;
  background-color: #e3c800;
}

.bg_orange {
  color: #fff;
  background-color: #ed6f2f;
}

.bg_magenta {
  color: #fff;
  background-color: #e4007f;
}

.bg_turquoise {
  color: #fff;
  background-color: #009b9f;
}


// ================================================================================
//   User Slide
// ================================================================================

.prof_user {
  .prof_body {
    float: left;

    width: 56%;

    .under {
      margin-bottom: 24px;
      padding-bottom: 0;

      border-bottom: 4px solid #fff;
    }
  }

  .post_profimg {
    position: relative;

    float: left;
    overflow: hidden;
    zoom: 1;

    width: 40%;
    margin-right: 4%;

    .mainimgframe {
      position: relative;

      &:before {
        display: block;

        padding-top: 100%;

        content: '';
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        max-width: 600px;
        height: 100%;
        max-height: 600px;
        margin: auto;

        border-radius: 50%;

        object-fit: cover;
      }
    }
  }

  .prof_org, .prog_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .prof_msg {
    margin-top: 32px;

    p {
      font-size: 64px;
      line-height: 80px;
    }
  }

  //複数行省略設定(ChromeやSafari、Firefox(macは確認)などのみで動作)
  .multiline-text-container {
    overflow: hidden;

    .multiline-text {
      display: -webkit-box;
      -webkit-box-orient: vertical;

      -webkit-line-clamp: 5;
    }

    .multiline-text-3 {
      display: -webkit-box;
      -webkit-box-orient: vertical;

      -webkit-line-clamp: 3;
    }
  }
}

.prof_msg_body::before {
    content: "\22";      /* 記号 */
    display: inline-block;
    font-size: 100%;    /* 表示サイズ */
}

.prof_msg_body::after {
    content: "\22";      /* 記号 */
    display: inline-block;
    font-size: 100%;    /* 表示サイズ */
}


// ================================================================================
//   Ad Slide
// ================================================================================

.prof_ad {
  .displayprof {
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: contain;

    .sponsor_info_area {
      position: absolute;
      top: 2vw;
      right: 2vw;

      width: 28%;

      text-align: right;

      .sponsor {
        font-size: 28px;
        font-weight: bold;

        display: inline-block;

        margin-bottom: 1vw;
        padding: 16px;

        text-align: left;

        color: #fff;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, .3);

        -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
      }

      .ad_qrcode_area {
        display: inline-block;

        width: 60%;
        padding: 16px;

        border-radius: 8px;
        background-color: rgba(0, 0, 0, .3);

        -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);

        .ad_qrcode {
          display: inline-block;

          border-radius: 8px;
        }
      }
    }
  }
}
