<p><%= @resource.email %>様</p>
<p>Katharsis Digital Hub 運営です。</p>

<p>パスワードを再設定申請がありました。パスワードの再設定は下記より行えます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>ご本人がパスワードの再設定を申請していない場合は本メールを無視してください。</p>
<p>あなたが上記にアクセスし、パスワードを再設定しない限りはパスワードは変更されません。</p>
