<p><%= @resource.email %>様</p>
<p>Katharsis Digital Hub 運営です。</p>

<p>サインインに連続して失敗したため、本アカウントはロックされました。</p>

<p>アカウントのロック解除を行うには下記からアクセスしてください。</p>

<p><%= link_to 'ロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>
