<section class="displayprof bg_black" style="background-image: url(<%= adimg_path(ad.id) %>);">
  <div class="wrap">
    <h1 class="sponsor"><%= ad.sponsor %></h1>

    <% if ad.url.present? %>
      <%= image_tag qrcode(ad.url), class: "qrcode" %>
    <% end %>
  </div>
</section>