<section class="displayprof bg_black" style="background-image: url(<%= adimg_path(ad.id) %>);">
    <div class="sponsor_info_area">
      <div class="ad_sponsor_area">
        <h1 class="sponsor">Powered by <%= ad.sponsor %></h1>
      </div>
      <% if ad.url.present? %>
        <div class="ad_qrcode_area">
          <%= image_tag qrcode(ad.url), class: "ad_qrcode" %>       
        </div>
      <% end %>
    </div>
</section>