<section id="footer">
    <footer>
        <div class="wrap">
            <p class="p_item"><small><%= link_to '利用規約', tos_path , class:"button_side" %></small></p>
            <p><small>&copy; 2020 Katharsis Digital Hub</small></p>
        </div>
    </footer>
</section>