<section id="footer">
  <footer>
    <div class="wrap">
      <p class="p_item footer_link"><small><%= link_to "利用規約", tos_path, target:"_blank" %></small></p>
      <p class="p_item footer_link"><small><%= link_to "プライバシーポリシー", privacy_path, target:"_blank" %></small></p>
      <% if user_signed_in? %>
        <p class="p_item footer_link"><small><%= link_to "退会", destroy_confirmation_path %></small></p>
      <% end %>
      <div class="clearfix"></div>
      <p><small>&copy; 2020 Katharsis Digital Hub</small></p>
    </div>
  </footer>
</section>
