<section id="header">
    <div class="headerwrap">
        <p class="header_logo">
            <%= link_to root_path do %>
                <%= image_tag '/assets/KDH_logo.png' %>
                Katarsis Degital Hub
            <% end %>
        </p>    
    </div>
</section>
<div id="header-bk">
</div>
